In [3]:
#pip install pyshp
#pip install pandas
#pip install networkx

In [4]:
import shapefile
import pandas as pd
import math
import numpy as np
import networkx as nx

In [5]:
df = pd.DataFrame(columns=['ID','COORDENADA_X','COORDENADA_Y'])
df['ID'].astype(int)

Series([], Name: ID, dtype: int32)

In [6]:
shape = shapefile.Reader("./GIS-UNI/Capa de Cruces.shp")
feature = shape.shapeRecords()
for x in range(25):
    feature = shape.shapeRecords()[x]
    record = feature.shape.__geo_interface__
    df.loc[x] = [int(x),record['coordinates'][0],record['coordinates'][1]]

In [7]:
df

      ID  COORDENADA_X  COORDENADA_Y
0    0.0    -77.050948    -12.017963
1    1.0    -77.049572    -12.017713
2    2.0    -77.050493    -12.017464
3    3.0    -77.049572    -12.017459
4    4.0    -77.050466    -12.016397
5    5.0    -77.049555    -12.016408
6    6.0    -77.051034    -12.016386
7    7.0    -77.048880    -12.017600
8    8.0    -77.049579    -12.019025
9    9.0    -77.049368    -12.019301
10  10.0    -77.049373    -12.019891
11  11.0    -77.048355    -12.019891
12  12.0    -77.047737    -12.019891
13  13.0    -77.049438    -12.021029
14  14.0    -77.049433    -12.021511
15  15.0    -77.048393    -12.021018
16  16.0    -77.048382    -12.021620
17  17.0    -77.049465    -12.021885
18  18.0    -77.049482    -12.022308
19  19.0    -77.048691    -12.023018
20  20.0    -77.047764    -12.022459
21  21.0    -77.047764    -12.023072
22  22.0    -77.047759    -12.023700
23  23.0    -77.047764    -12.024215
24  24.0    -77.048111    -12.024518

In [8]:
rutas = [[1,2],[2,8],[1,3],[3,4],[2,4],[3,5],[6,5],[5,7],[4,6],
        [16,17],[16,12],[16,14],[14,11],[11,12],[12,13],[11,10],[9,10],[2,9],
        [14,15],[15,18],[18,19],[17,21],[19,20],[20,23],[21,22],[20,23],[22,23],[23,24],[24,25]]

In [9]:
disdf = pd.DataFrame(columns=['ID','NODO_1','NODO_2','DISTANCIA'])

In [10]:
facdf = pd.DataFrame(columns=['NODO','FACULTAD'])
facdf.loc[0] = [5,'FIIS']
facdf.loc[1] = [7,'PETROLEO']
facdf.loc[2] = [6,'FIIS']
facdf.loc[3] = [4,'FIEE']
facdf.loc[4] = [8,'FIEE']
facdf.loc[5] = [3,'CIENCIA']
facdf.loc[6] = [1,'PUERTA 5']
facdf.loc[7] = [10,'FIECS']
facdf.loc[8] = [13,'MINERA']
facdf.loc[9] = [15,'FAUA']
facdf.loc[10] = [18,'FIC']
facdf.loc[11] = [17,'TEXTIL']
facdf.loc[12] = [20,'FPPQ']
facdf.loc[13] = [22,'FIQT']
facdf.loc[14] = [24,'FIM']
facdf.loc[15] = [25,'PUERTA 3']

In [35]:
facdf.head(5)

  NODO  FACULTAD
0    5      FIIS
1    7  PETROLEO
2    6      FIIS
3    4      FIEE
4    8      FIEE

In [12]:
orden = -1
for x in rutas:
    orden = orden + 1
    n1 = x[0]-1
    n2 = x[1]-1
    distancia = math.sqrt(math.pow(df['COORDENADA_Y'][n1] - df['COORDENADA_Y'][n2],2) + math.pow(df['COORDENADA_X'][n1] - df['COORDENADA_X'][n2],2))
    disdf.loc[orden] = [orden,n1+1,n2+1,distancia*5000]

In [13]:
disdf

      ID  NODO_1  NODO_2  DISTANCIA
0    0.0     1.0     2.0   6.992626
1    1.0     2.0     8.0   3.503771
2    2.0     1.0     3.0   3.374775
3    3.0     3.0     4.0   4.605273
4    4.0     2.0     4.0   1.273200
5    5.0     3.0     5.0   5.338324
6    6.0     6.0     5.0   4.551337
7    7.0     5.0     7.0   2.844900
8    8.0     4.0     6.0   5.255966
9    9.0    16.0    17.0   3.007408
10  10.0    16.0    12.0   5.637779
11  11.0    16.0    14.0   5.228529
12  12.0    14.0    11.0   5.698048
13  13.0    11.0    12.0   5.092802
14  14.0    12.0    13.0   3.088188
15  15.0    11.0    10.0   2.952866
16  16.0     9.0    10.0   1.739213
17  17.0     2.0     9.0   6.555733
18  18.0    14.0    15.0   2.411106
19  19.0    15.0    18.0   1.876220
20  20.0    18.0    19.0   2.114533
21  21.0    17.0    21.0   5.212223
22  22.0    19.0    20.0   5.313730
23  23.0    20.0    23.0   5.775820
24  24.0    21.0    22.0   3.061099
25  25.0    20.0    23.0   5.775820
26  26.0    22.0    23.0   3.142484
27  27.0    23.0    24.0   2.573633
28  28.0    24.0    25.0   2.303712

In [14]:
croquis=nx.from_pandas_edgelist(disdf,source='NODO_1',target='NODO_2',edge_attr='DISTANCIA')

In [15]:
croquis.nodes()

NodeView((1.0, 2.0, 8.0, 3.0, 4.0, 5.0, 6.0, 7.0, 16.0, 17.0, 12.0, 14.0, 11.0, 13.0, 10.0, 9.0, 15.0, 18.0, 19.0, 21.0, 20.0, 23.0, 22.0, 24.0, 25.0))

In [16]:
croquis.edges()

EdgeView([(1.0, 2.0), (1.0, 3.0), (2.0, 8.0), (2.0, 4.0), (2.0, 9.0), (3.0, 4.0), (3.0, 5.0), (4.0, 6.0), (5.0, 6.0), (5.0, 7.0), (16.0, 17.0), (16.0, 12.0), (16.0, 14.0), (17.0, 21.0), (12.0, 11.0), (12.0, 13.0), (14.0, 11.0), (14.0, 15.0), (11.0, 10.0), (10.0, 9.0), (15.0, 18.0), (18.0, 19.0), (19.0, 20.0), (21.0, 22.0), (20.0, 23.0), (23.0, 22.0), (23.0, 24.0), (24.0, 25.0)])

In [17]:
croquis.order()

25

In [43]:
resultado=nx.dijkstra_path(croquis,source=1,target=6,weight=True)
resultado2=nx.dijkstra_path(croquis,source=25,target=6,weight=True)
print(resultado)
print(resultado2)

[1, 2.0, 4.0, 6.0]
[25, 24.0, 23.0, 20.0, 19.0, 18.0, 15.0, 14.0, 11.0, 10.0, 9.0, 2.0, 4.0, 6.0]

In [40]:
edge_list = [
    [-77.050948, -12.017963],
    [-77.050493, -12.017464],
]

In [41]:
w = shapefile.Writer(target='./GIS-UNI/Capa de Ruta.shp')
w.line([edge_list])
w.field("id",'C')
w.record("Ruta_1")
w.close()

Exception ignored in: <function Writer.__del__ at 0x0000017E7B2BD160>
Traceback (most recent call last):
  File "C:\Users\HP\anaconda3\lib\site-packages\shapefile.py", line 1840, in __del__
    self.close()
  File "C:\Users\HP\anaconda3\lib\site-packages\shapefile.py", line 1867, in close
    self.__dbfHeader()
  File "C:\Users\HP\anaconda3\lib\site-packages\shapefile.py", line 2055, in __dbfHeader
    raise ShapefileException("Shapefile dbf file must contain at least one field.")
shapefile.ShapefileException: Shapefile dbf file must contain at least one field.